{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/home.css">
<link rel="stylesheet" href="/static/common/commons.css">
<link rel="stylesheet" href="/static/common/button.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/home.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <form id="submitForm">
        <div class="teams">
            <h2>Home Page</h2>
            <label>
                <input type="radio" id="red1" name="team" value="r1" checked>
                <span class="red-left">R1</span>
            </label>
            <label>
                <input type="radio" id="red2" name="team" value="r2">
                <span class="red-mid">R2</span>
            </label>
            <label>
                <input type="radio" id="red3" name="team" value="r3">
                <span class="red-mid">R3</span>
            </label>
            <label>
                <input type="radio" id="blu1" name="team" value="b1" checked>
                <span class="blu-mid">B1</span>
            </label>
            <label>
                <input type="radio" id="blu2" name="team" value="b2">
                <span class="blu-mid">B2</span>
            </label>
            <label>
                <input type="radio" id="blu3" name="team" value="b3">
                <span class="blu-right">B3</span>
            </label>
        </div>
            <!--<label>
                <input type="radio" id="red1" name="team" value="red1">
                <span class="red-left">red 1</span>
            </label>
            <label>
                <input type="radio" id="red2" name="team" value="red2">
                <span class="red-mid">red 2</span>
            </label>
            <label>
                <input type="radio" id="red3" name="team" value="red3">
                <span class="red-mid">red 3</span>
            </label>
            <label>
                <input type="radio" id="blue1" name="team" value="blue1">
                <span class="blue-mid">blue 1</span>
            </label>
            <label>
                <input type="radio" id="blue2" name="team" value="blue2">
                <span class="blue-mid">blue 2</span>
            </label>
            <label>
                <input type="radio" id="blue3" name="team" value="blue3">
                <span class="blue-right">blue 3</span>
            </label>-->
        <table class="table" autocomplete="off">
            <tr>
                <td class="text"><label for="match">Round:&emsp;</label></td>
                <td><input class="input" name="match" type="number" /></td>
            </tr>
            <tr>
                <td class="text"><label for="team">Team:&emsp;</label></td>
                <td><input class="input" name="team" type="number" /></td>
            </tr>
            <tr>
                <td class="text"><label for="scouter">Name:&emsp;</label></td>
                <td class="select">
                    <select class="input" id="name" name="scouter">
                        <option value="placeholder">Pick Your Name</option>
                        {% if names %}
                        {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <button class="submit" type="button" onclick="localStorage.clear();location.reload();">Reset</button>
            <button class="submit" type="submit">Next</button>
        </div>
    </form>
</div>
{% endblock %}
