{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/home.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/home.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <form id="submitForm">
        <div class="title">
            <h1>Home</h1>
        </div>
        <div class="teams">
            <label>
                <input type="radio" id="red1" name="robot" value="r1" required>
                <span class="left">Red 1</span>
            </label>
            <label>
                <input type="radio" id="red2" name="robot" value="r2" required>
                <span class="mid">Red 2</span>
            </label>
            <label>
                <input type="radio" id="red3" name="robot" value="r3" required>
                <span class="mid">Red 3</span>
            </label>
            <label>
                <input type="radio" id="blu1" name="robot" value="b1" required>
                <span class="blu-mid">Blu 1</span>
            </label>
            <label>
                <input type="radio" id="blu2" name="robot" value="b2" required>
                <span class="blu-mid">Blu 2</span>
            </label>
            <label>
                <input type="radio" id="blu3" name="robot" value="b3" required>
                <span class="blu-right">Blu 3</span>
            </label>
        </div>
        <table class="table" autocomplete="off">
            <tr>
                <td class="text"><label for="match">Match:&emsp;</label></td>
                <td><input class="input" name="match" type="number" required/></td>
            </tr>
            <tr>
                <td class="text"><label for="team">Team:&emsp;</label></td>
                <td><input class="input" name="team" type="number" required min="1"/></td>
            </tr>
            <tr>
                <td class="text"><label for="scouter">Name:&emsp;</label></td>
                <td class="select">
                    <select class="input" id="name" name="scouter" required>
                        <option value="placeholder">Pick Your Name</option>
                        {% if names %}
                        {% for name in names %}
                        <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <button class="submit" type="button" onclick="localStorage.clear();location.reload();">Reset</button>
            <button class="submit" type="submit">Next</button>
        </div>
    </form>
</div>
{% endblock %}
