{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/prematch.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/prematch.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <div class="title">
        <h1>Pre-Match</h1>
    </div>
    <div class="start">
        <h2>Starting Object</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="radio" id="startNone" name="startObject" value="none" required checked>
                            <span class="none">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" id="startObject1" name="startObject" value="note" required>
                            <span class="note">
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="position">
        <h2>Robot Position</h2>
        <div class="img_div_container">
            <div class="robot_position_container">
                <div class="robot_position_img">
                    <div class="location" id="location"></div>
                </div>
                <div class="robot_position">
                    <input type="range" id="chainPosition" name="chainPosition" min="-5" max="5" value="0" step="0.1" class="slider" oninput="followLocationSlider()">
                </div>
            </div>
        </div>
    <div class="next_container">
        <button class="next" id="nextButton">
            <span>Next</span>
        </button>
    </div>
</div> 

{% endblock %}