{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/prematch.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/next.js"></script>
<script src="/static/2024/js/prematch.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div>
    <div class="auto">
        <h1>Pre-Match</h1>
        <div class="start">
        </div>
        <div class="layout">
            <h2>Object Layout</h2>
            <table>
                <tbody>
                    <tr>
                        <td><button class="note-button"></button></td>
                        <td><button class="note-button"></button></td>
                        <td><button class="note-button"></button></td>
                        <td><button class="note-button"></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="roboPos">
            <h2>Location</h2>
            <label>
                <input type="radio" id="roboLeft" name="roboPos" value="left">
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboMid" name="roboPos" value="mid" checked>
                <span></span>
            </label>
            <label>
                <input type="radio" id="roboRight" name="roboPos" value="right">
                <span></span>
            </label>
        </div>
    </div>
    <div class="next_container">
        <button class="next" id="nextButton">
            <span>Next</span>
        </button>
    </div>
</div> 

{% endblock %}