{% extends "base.html" %}
{% block title %}4541 Scouting App | Current Year{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/scout.css" />
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/next.js"></script>
<script src="/static/2024/js/scout.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div>
    <table class="table">
        <tbody>
            <tr>
                <td><button class="note-button"></button></td>
            </tr>
        </tbody>
    </table>
    <div class="auto" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_red" id="autoPickUp">Picked Up Note</button>
        </label>
        <label>
            <button class="button_red" id="autoMiss">Missed shot</button>
        </label>
        <label>
            <button class="button_red" id="autoDrop">Dropped Note</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
        </div>
        <div>
            <button class="next" id="endAuto">
                <span>End Auto</span>
            </button>
        </div>
    </div>
    <div class="tele" style="margin-top: 10%; width: 100%; text-align: center;">
        <label>
            <button class="button_red" id="pickUp">Picked up Note</button>
        </label>
        <label>
            <button class="button_red" id="miss">Missed Shot</button>
        </label>
        <label>
            <button class="button_red" id="drop">Dropped Note</button>
        </label>
        <label>
            <button class="button_red" id="defense">Defense</button>
        </label>
        <div style="margin-top: 10%; width: 100%; text-align: center;">
            <div class="stage">
                <h2>Stage</h2>
                <label>
                    <input type="radio" id="stageOff" name="stageTele" value="off" checked>
                    <span class="left">Off Stage</span>
                </label>
                <label>
                    <input type="radio" id="stageOn" name="stageTele" value="on">
                    <span class="mid">On Stage</span>
                </label>
                <label>
                    <input type="radio" id="stageHarmony" name="stageTele" value="harmony">
                    <span class="right">Harmony</span>
                </label>
            </div>
        </div>
        <div class="next_container">
            <button class="next" id="nextButton2">
                <span>Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}