{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/scout.css" />
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/scout.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <!--TODO: fix placement of buttons if needed-->
    <div class="auto" style="width: 100%; text-align: center;">
        <div class="title">
            <h1>Auto</h1>
            </div>
            <label>
                <button class="button_red" id="autoPickUpAmp">Pick Up From AMP</button>
            </label>
            <label>
                <button class="button_red" id="autoPickUpFloor">Pick Up From Floor</button>
            </label>
            <label>
                <button class="button_red" id="autoScoreNote">Scored</button>
            </label>
            <label>
                <button class="button_red" id="autoMiss">Miss shot</button>
            </label>
            <label>
                <button class="button_red" id="autoDrop">Drop Note</button>
            </label>
            <div style="width: 100%; text-align: center;">
            </div>
            <div class="endauto_container">
                <button class="next" id="endAuto">
                    <span>End Auto</span>
                </button>
            </div>
        </div>
        <div class="tele" style="width: 100%; text-align: center;">
            <div class="title">
                <h1>Teleop</h1>
            </div>
            <label>
                <button class="button_red" id="pickUpAmp">Pick Up From AMP</button>
            </label>
            <label>
                <button class="button_red" id="pickUpFloor">Pick Up From Floor</button>
            </label>
            <label>
                <button class="button_red" id="scoreNote">Scored</button>
            </label>
            <label>
                <button class="button_red" id="miss">Miss Shot</button>
            </label>
            <label>
                <button class="button_red" id="drop">Drop Note</button>
            </label>
            <label>
                <button class="button_red" id="defense">Defense</button>
            </label>
        <div class="tele" style="width: 100%; text-align: center;">
            <label>
                <button class="button_blu" id="cooperation">Coop Bonus</button>
            </label>
            <label>
                <button class="button_blu" id="amplified">Amp Bonus</button>
            </label>
            <div class="next_container">
                <button class="next" id="nextButton2">
                    <span>Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="undo_container" id="undoContainer"></div>
</div>
{% endblock %}