{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/stage.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/stage.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <div class="title">
        <h1>Stage</h1>
    </div>
    <div class="stage">
        <div class="chain_selction">

        </div>
        <div class="robot_position">

        </div>
    </div>
    <div class="next_container">
        <button class="next" id="nextButton3">
            <span>Next</span>
        </button>
    </div>
</div>
{% endblock %}