{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/stage.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/next.js"></script>
<script src="/static/2024/js/stage.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div style="margin-top: 10%; width: 100%; text-align: center;">
    <div class="stage">
        <h2>Stage</h2>
        <label>
            <input type="radio" id="stageOff" name="stage" value="off" checked>
            <span class="left">Off Stage</span>
        </label>
        <label>
            <input type="radio" id="stageCommunity" name="stage" value="community">
            <span class="mid">In Community</span>
        </label>
        <label>
            <input type="radio" id="stageOn" name="stage" value="on">
            <span class="right">On Stage</span>
        </label>
    </div>
        <div class="harmonyCheckBox">
            Harmony
            <label>
                <input type="checkbox" style="opacity: 100" id="HarmonyCheck" name="Harmony" value="Harmony">
                <svg width="140" height="65" viewBox="0 0 140 65" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0" class="checkbox" width="128.8" height="63.9"/>
                    <rect x="0" y="22.5" class="harmonyBox" width="20" height="20"/>
                    <polyline class="harmonyCheckMark" points="4.5, 32.6 8.7, 36.8 16.5, 29.1"/>
                </svg>
            </label>
        </div>
        <div class="spotlitCheckBox">
            Spotlit
            <label>
                <input type="checkbox" style="opacity: 100"  id="SpotlitCheck" name="Spotlit" value="Spotlit">
                <svg width="140" height="65" viewBox="0 0 140 65" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0" class="checkbox" width="128.8" height="63.9"/>
                    <rect x="0" y="22.5" class="spotlitBox" width="20" height="20"/>
                    <polyline class="spotlitCheckMark" points="4.5, 32.6 8.7, 36.8 16.5, 29.1"/>
                </svg>
            </label>
        </div>
    <div class="next_container">
        <button class="next" id="nextButton3">
            <span>Next</span>
        </button>
    </div>
</div>
{% endblock %}

<!--TODO: fix placement of buttons if needed-->
