{% extends "base.html" %}
{% block title %}4541 Scouting App | 2024{% endblock %}
{% block styles %}
<link rel="stylesheet" href="/static/2024/css/stage.css">
<link rel="stylesheet" href="/static/common/commons.css">
{% endblock %}
{% block scripts %}
<script src="/static/2024/js/stage.js"></script>
<script src="/static/2024/js/navstamp.js"></script>
{% endblock %}
{% block contents %}
<div class="content">
    <div class="title">
        <h1>Stage</h1>
    </div>
    <div class="stage">
        <div class="img_div_container">
            <div class="chain_selection_container">
                <div class="chain_selection_img">
                    <img class="stage_right_img" id="stage_right_img">
                    <img class="stage_center_img" id="stage_center_img">
                    <img class="stage_left_img" id="stage_left_img">
                </div>
                <div class="chain_selection_button">
                    <label>
                        <input type="radio" id="chainLeft" name="chainState" class="leftChain" value="left">
                        <span class="left" onclick="showStageLeft()">Left</span>
                    </label>
                    <label>
                        <input type="radio" id="chainCenter" name="chainState" class="centerChain" value="middle">
                        <span class="mid" onclick="showStageCenter()">Center</span>
                    </label>
                    <label>
                        <input type="radio" id="chainRight" name="chainState" class="rightChain" value="right"> 
                        <span class="right" onclick="showStageRight()">Right</span>
                    </label>
                </div>
            </div>
            <div class="robot_position_container">
                <div class="robot_position_img"></div>
                <div class="spotlight">
                    <!-- This goes above the entire stage where the mic would be -->
                    <input type="checkbox">
                </div>
                <div class="trap">
                    <!-- This goes in the black square above the april tage -->
                    <input type="checkbox">
                </div>
                <div class="chain_img">
                    <div class="location" id="location"></div>
                    <div class="robot_position">
                        <input type="range" id="chainPosition" name="chainPosition" min="-5" max="5" value="0" step="0.1" oninput="followLocationSlider()">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="next_container">
        <button class="next" id="nextButton3">
            <span>Next</span>
        </button>
    </div>
</div>
{% endblock %}