.button_red {
    margin-top: 5vh;
    background-color: #aa0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 5px #9a9280;
}

.button_blu {
    margin-top: 5vh;
    background-color: #476291; /* Blu */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 5px #9a9280;
}

.button_red:hover {background-color: #7d0000}

.button_blu:hover {background-color: #293853}

.button_red:active {
    background-color: #7d0000;
    box-shadow: 0 0px #3e3e3e;
    transform: translateY(5px);
}

.button_blu:active {
    background-color: #293853;
    box-shadow: 0 0px #3e3e3e;
    transform: translateY(5px);
}

.blu-left {
    width: 100px;
    height: 50px;
    background: #476291;
    color: white;
    border: 5px solid #476291;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 5px #9a9280;
}
.blu-left:hover {background-color: #293853;}

.blu-mid {
    width: 100px;
    height: 50px;
    background: #476291;
    color: white;
    border: 5px solid #476291;
    text-align: center;
    box-shadow: 0 5px #9a9280;
}
.blu-mid:hover {background-color: #293853;}

.blu-right {
    width: 100px;
    height: 50px;
    background: #476291;
    color: white;
    border: 5px solid #476291;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 5px #9a9280;
}
.blu-right:hover {background-color: #293853;} 