.submit {
  display: flex;
  height: 10vh;
  width: 25vw;
  background-color: #aa0000;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 3vh;
  border-radius: 10px;
  box-shadow: 0 5px #9a9280;
  justify-content: center;
  align-items: center;
}

.submit:active {
  background-color: #7d0000;
  box-shadow: 0 0px #3e3e3e;
  transform: translateY(5px);
}

.next {
    height: 38px;
    width: 150px;
    margin-top: 14%;
    margin-left: 50%;
    background-color: #aa0000; /* Red */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 5px;
    box-shadow: 0 5px #9a9280;
  }

.next span {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.next:hover {background-color: #7d0000}

.next:active {
  background-color: #7d0000;
  box-shadow: 0 0px #3e3e3e;
  transform: translateY(5px);
}

.next span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next:hover span {
  padding-right: 25px;
}

.next:hover span:after {
  opacity: 1;
  right: 0;
}

.note-button {
  height: 50px;
  width: 50px;
  margin: 10px;
  background-color: #9a9280;
  border: none;
  padding: 10px;
  border-radius: 100%;
  align-items: center;
}
.start label input:checked ~ span.note-button{background-color: #f1642b;}