.start {
    display: inline-block;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.start h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}

.start table {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.start table tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.start label input {
    display: none;
}

.start label span {
    position: relative;
    text-align: center;
    display: inline-block;
}

.none {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    background-color: #9a9280;
    border: none;
    padding: 1vh;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    
}
.start label input:checked ~ span.none{background-color: #FF4E4E;}

.note {
    height: 3vh;
    width: 3vh;
    margin: 2vh;
    background-color: #9a9280;
    border: none;
    padding: 1vh;
    border-radius: 100%;
}
.start label input:checked ~ span.note{background-color: #f1642b;}

.platform-select {
    margin-left: 4px;
}

.position {
    width: 100%;
}

.position h2 {
    font-size: 3vh;
    font-weight: bold;
    margin-top: 2%;
    text-align: center;
}

.position_buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.position label {
    margin: 3px;
}

.position label input {
    display: none;
}

.position label input:checked ~ span{
    background-color: #9a9280;
    border: 5px solid #f4722b;
    box-shadow: 0 0px #3e3e3e;
    transform: translateY(5px);
}

.position label span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    width: 15vw;
    min-width: 4em;
    height: 6vh;
}
