
.table {
    height: 100px;
    width: 100%;
    margin-left: 0%;
}

.undo_container {
   margin-top: 3vh;
   width: 100vw;
   height: 10vh;
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   overflow: scroll;
 }
 
 .undo_button button{
   background-color: #727272;
   border: 0 5px rgb(135, 135, 135);
   color: rgb(152, 152, 152);
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   border-radius: 5px;
 }
 