.stage {
    margin-top: 5vh;
    text-align: center;
    width: 100%;
    display: block;
    height: 20%;
}

.stage label {
    position: relative;
}

.stage label input {
    display: none;
}

.stage label input:checked ~ span{
    background-color: #9a9280;
    border: 5px solid #f4722b;
    box-shadow: 0 0px #3e3e3e;
    transform: translateY(5px);
}

.stage label span {
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.checkbox input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox *, .checkbox ::after, .checkbox ::before {
  box-sizing: border-box;
}

.checkbox .switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.checkbox .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #adb5bd;
  transition: .4s;
  border-radius: 30px;
}

.checkbox .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.27em;
  bottom: 0.25em;
  background-color: #adb5bd;
  transition: .4s;
}

.checkbox input:checked + .slider {
  background-color: #FF4E4E;
  border: 1px solid #FF4E4E;
}

.checkbox input:focus + .slider {
  box-shadow: 0 0 1px #FF4E4E;
}

.checkbox input:checked + .slider:before {
  transform: translateX(1.4em);
  background-color: #fff;
}

.checkbox {
  text-align: center;
}