.img_div_container {
  	display: flex;
	justify-content: space-evenly;
  	width: 100%;
  	height: fit-content;
}

.chain_selection_container {
  	display: flex;
	align-items: center;
	flex-direction: column;
  	width: 40%;
	min-width: 200px;
	max-width: 500px;
	height: 100%;
}

.chain_selection_img {
	display: grid;
	width: 80%;
	aspect-ratio: 1;
	background-image: url("/static/img/field/stage/stage.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.stage_right_img {
	background-image: url("/static/img/field/stage/stage_right.png");
	z-index: 1;
}

.chain_selection_img img {
	grid-area: 1 / 1;
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.stage_center_img {
	background-image: url("/static/img/field/stage/stage_center.png");
	z-index: 2;
}

.stage_left_img {
	background-image: url("/static/img/field/stage/stage_left.png");
	z-index: 3;
}

.chain_selection_button {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 1vh;
    text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.chain_selection_button input:checked ~ span{
    background-color: #9a9280;
    border: 5px solid #f4722b;
    box-shadow: 0 0px #9a9280;
    transform: translateY(5px);
}

.chain_selection_button label {
    position: relative;
}

.chain_selection_button label input {
    display: none;
}

.chain_selection_button label span {
    position: relative;
    display: flex;
	align-items: center;
	justify-content: center;
    font-size: 3vh;
    width: 10vw;
	min-width: 50px;
	height: 100%;
}

.robot_position_container {
  	display: inline-block;
  	width: 40%;
  	height: 100%;
}

.checkbox input[type="checkbox"] {
	visibility: hidden;
	display: none;
  }

  .checkbox *,
  .checkbox ::after,
  .checkbox ::before {
	box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox .switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
  }

  /* Hide default HTML checkbox */
  .checkbox .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }

  /* The slider */
  .checkbox .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	border: 1px solid #adb5bd;
	transition: .4s;
	border-radius: 30px;
  }

  .checkbox .slider:before {
	position: absolute;
	content: "";
	height: 1.4em;
	width: 1.4em;
	border-radius: 20px;
	left: 0.27em;
	bottom: 0.25em;
	background-color: #adb5bd;
	transition: .4s;
  }

  .checkbox input:checked + .slider {
	background-color: #FF4E4E;
	border: 1px solid #FF4E4E;
  }

  .checkbox input:focus + .slider {
	box-shadow: 0 0 1px #FF4E4E;
  }

  .checkbox input:checked + .slider:before {
	transform: translateX(1.4em);
	background-color: #fff;
  }

  .checkbox {
	  text-align: center;
  }
