.img_div_container {
	display: flex;
  	justify-content: space-around;
	width: 100%;
	height: fit-content;
  	flex-wrap: wrap;
}

.chain_selection_container {
	display: flex;
  	align-items: center;
  	flex-direction: column;
	width: 40%;
  	min-width: 250px;
  	max-width: 500px;
  	height: 100%;
}

.chain_selection_img {
  	display: grid;
  	width: 80%;
  	aspect-ratio: 1;
  	background-image: url("/static/img/field/stage/stage.png");
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

.chain_selection_img img {
  	grid-area: 1 / 1;
  	position: relative;
  	width: 100%;
  	height: 100%;
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
  	visibility: hidden;
}

.stage_right_img {
  	background-image: url("/static/img/field/stage/stage_right.png");
  	z-index: 1;
}

.stage_center_img {
  	background-image: url("/static/img/field/stage/stage_center.png");
  	z-index: 2;
}

.stage_left_img {
  	background-image: url("/static/img/field/stage/stage_left.png");
  	z-index: 3;
}

.chain_selection_button {
  	width: 100%;
  	height: fit-content;
  	margin-top: 5%;
  	margin-bottom: 10%;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	flex-direction: row;
}

.chain_selection_button input:checked ~ span{
  	background-color: #9a9280;
  	border: 5px solid #f4722b;
  	box-shadow: 0 0px #9a9280;
  	transform: translateY(5px);
}

.chain_selection_button label {
  	position: relative;
}

.chain_selection_button label input {
  	display: none;
}

.chain_selection_button label span {
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	font-size: 2vw;
  	width: 10vw;
  	min-width: 50px;
  	height: 100%;
}

.robot_position_container {
  	display: flex;
	align-items: center;
	flex-direction: column;
  	width: 40%;
	min-width: 250px;
	max-width: 500px;
	height: 100%;
}

.robot_position_img {
  	display: grid;
  	width: 80%;
  	aspect-ratio: 1;
  	background-image: url("/static/img/field/stage/stage_sideview.png");
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

.robot_position_img img{
  	grid-area: 1 / 1;
  	position: relative;
  	width: 100%;
  	height: 100%;
  	background-repeat: no-repeat;
  	background-size: contain;
  	background-position: center;
}

.chain_img {
  	background-image: url("/static/img/field/stage/chain.png");
  	z-index: 3;
}

.location {
  	grid-area: 1 / 1;
  	position: relative;
  	display: flex;
  	justify-self: center;
  	z-index: 2;
  	width: 22.5%;
  	height: 40%;
  	margin-top: 46.5%;
  	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 190, 0, .75));
}

.trap {
  	grid-area: 1 / 1;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	justify-self: center;
  	z-index: 4;
  	margin-top: 30%;
}

.spotlight {
  	grid-area: 1 / 1;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	justify-self: center;
  	z-index: 4;
  	margin-top: 10%;
}

.spotlight .round, .trap .round {
	position: relative;
  }

  .spotlight .round label, .trap .round label {
	background-color: #9a9280;
	border: 1px solid #9a9280;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	width: 28px;
	display: block;
  }

  .spotlight .round label:after, .trap .round label:after {
	border: 2px solid #f1642b;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 8px;
	opacity: 0;
	position: absolute;
top: 9px;
transform: rotate(-45deg);
width: 12px;
}

.spotlight .round input[type="checkbox"], .trap .round input[type="checkbox"]{
visibility: hidden;
display: none;
opacity: 0;
}

.spotlight .round input[type="checkbox"]:checked + label, .trap .round input[type="checkbox"]:checked + label {
background-color: #f1642b;;
border-color: #f1642b;;
}

.spotlight .round input[type="checkbox"]:checked + label:after, .trap .round input[type="checkbox"]:checked + label:after {
opacity: 1;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 1.25vh;
	outline: none;
	background: #9a9280;
	opacity: 70%;
}

.slider:hover {
	opacity: 100%;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #c40000;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #c40000;
	cursor: pointer;
  }